<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
  <title>Hello</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
  <div class="jumbotron">
    <form th:action="@{/stocks/new}" method="post">
      <select class="form-control" name="selectStock" id="selectStock">
        <option th:each="stockItem : ${stockList}"
                th:value="${stockItem?.code}"
                th:utext="${stockItem?.name}"></option>
      </select>
      <button type="submit">Add</button>
    </form>
    <!--<table class="table table-striped">
      <thead>
      <tr>
        <th>종목명</th>
        <th>종목코드</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="stock : ${stocks}">
        <td th:text="${stock.name}"></td>
        <td th:text="${stock.code}"></td>
      </tr>
      </tbody>
    </table>-->
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
<script src="js/home.js"></script>
</body>
</html>